@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  color: #222;
  letter-spacing: 5px;
}
ul {
  list-style-type: none;
}
.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.add-items-container {
  background: #8535c0;
  padding: 30px;
}
form.add-item-input input {
  height: 30px;
  width: 300px;
  outline: none;
}
.items-area {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
li.item {
  line-height: 35px;
}
